@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }

  95% {
    visibility: visible;
    opacity: 0;
  }

  100% {
    visibility: hidden;
  }
}

@keyframes fadeIn {
  0% {
    visibility: hidden;
  }

  5% {
    visibility: visible;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}